@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        @{
            var display = Model.CurrentPage > 1 ? "block" : "none";
        }
        <div id="personal-information" style="display: @display; margin-bottom: 10px">
            <ul>
                @foreach (var data in Model.PersonalData)
                {
                    <li><strong>@data.Key:</strong> @data.Value</li>
                }
            </ul>
            @if (Model.TotalPages > 1)
            {
            @if (Model.CurrentPage > 2)
            {
            <a asp-page="PersonalData" asp-route-pageid="@(1)">First</a><text> - </text>
            }
            @if (Model.CurrentPage > 1)
            {
            <a asp-page="PersonalData" asp-route-pageid="@(Model.CurrentPage - 1)">Previous</a><text> - </text>
            }
            <text>Page @Model.CurrentPage of @Model.TotalPages</text>
            @if (Model.CurrentPage < Model.TotalPages)
            {
            <text> - </text><a asp-page="PersonalData" asp-route-pageid="@(Model.CurrentPage + 1)">Next</a>
            }
            @if (Model.CurrentPage < Model.TotalPages - 1)
            {
            <text> - </text><a asp-page="PersonalData" asp-route-pageid="@(Model.TotalPages)">Last</a>
            }
            }
        </div>
        
        <button class="btn btn-primary" onclick="
            const personalData = document.getElementById('personal-information');
            if (personalData.style.display === 'none') {
                personalData.style.display = 'block';
            }
            else {
                personalData.style.display = 'none';
            }
            if (personalData.style.display === 'none') {
                this.textContent = 'Show your personal data';
            }
            else {
                this.textContent = 'Hide your personal data';
            }
            ">
            Show your personal data
        </button>
        
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form method="get" asp-page="DeletePersonalData" class="w-100">
            <button type="submit" class="w-100 btn btn-lg btn-danger-custom">Delete</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
