@using Chirp.Web.Pages.Shared.Models
@model CheepViewModel
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

@*
Information on obtaining context information in partial:
https://stackoverflow.com/questions/32127261/asp-net-viewstart-cshtml-getting-the-request
*@

<li>
    <p>
        <strong>
            <img src="@Model.AuthorProfilePicture"
                 alt="@Model.Author's profile picture"
                 class="profile-pic"
                 style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;" />
            <a href="/User/@Model.Author">@Model.Author</a>
            </strong>
            @if (SignInManager.IsSignedIn(User))
            {
                @if (Model.IsFollowed && Model.Author != User.Identity?.Name)
                {
                    <form method="post" autocomplete="off">
                        <input type="hidden" name="authorName" value="@Model.Author" />
                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                        <button class="btn btn-primary" type="submit" asp-page="/Actions/AuthorFollows" asp-page-handler="Unfollow">Unfollow</button>
                    </form>
                }
                else if (!Model.IsFollowed && Model.Author != User.Identity?.Name)
                {
                    <form method="post" autocomplete="off">
                        <input type="hidden" name="authorName" value="@Model.Author" />
                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                        <button class="btn btn-primary" type="submit" asp-page="/Actions/AuthorFollows" asp-page-handler="Follow">Follow</button>
                    </form>
                }

                @if (Model.IsLikedByUser)
                {
                    <form method="post" autocomplete="off">
                    <input type="hidden" name="cheepId" value="@Model.Id"/>
                    <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                    <button class="btn btn-primary" type="submit" asp-page="/Actions/AuthorLikes" asp-page-handler="RemoveLike">Remove Like</button>
                    </form>
                }
                else
                {
                    <form method="post" autocomplete="off">
                    <input type="hidden" name="cheepId" value="@Model.Id"/>
                    <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                    <button class="btn btn-primary" type="submit" asp-page="/Actions/AuthorLikes" asp-page-handler="Like">Like</button>
                    </form>
                }
            }
        @Model.Message
        <small>&mdash; @Model.TimeStamp</small>
    </p>
</li>